/* .Save{
    background-color: aquamarine;
}
.Show{
    background-color: red;
} */
body {
    font-family: Arial, sans-serif; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
}
.form-container { 
    border: 1px solid #000; 
    padding: 10px; 
    margin-bottom: 20px; 
    width: 300px; 
    display: block;
}
h2 { 
    text-align: center; 
    margin-top: 0; 
}
table { 
    border-collapse: collapse; 
    width: 80%; 
    text-align: center; 
    display: none;
    width: 50%;
    height: 100%;
}
table, th, td { 
    border: 1px solid black; 
    width: auto;
    min-width: 100px;
    padding: 8px; 
    text-align: center; 
}
.input-group { 
    display: flex; 
    margin-bottom: 5px; 
    border: 1px solid #ccc; 
}
.label { 
    width: 80px; 
    padding: 5px; 
    border-right: 1px solid #ccc; 
    font-weight: bold; 
    font-size: 0.9em; 
}
input[type="text"], 
input[type="number"], 
select { 
    flex: 1; 
    border: none; 
    padding: 5px; 
    outline: none; 
}
.radio-group { 
    padding: 5px; 
    flex: 1; 
    font-size: 0.8em; 
}
.save-btn { 
    width: 100%;
    background-color: #40E0D0; 
    border: 1px solid #000; 
    padding: 5px; 
    cursor: pointer; 
}
.delete-btn { 
    background-color: red; 
    color: white; 
    border: none; 
    padding: 5px 10px; 
    cursor: pointer; 
}
#close{
    background-color: red;
    display: none;
}
#Show{
    background-color: green;
    display: block;
}